html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    position: -webkit-sticky;
}
.navigation h1 {
    color: white;
}
.navigation nav ul {
    list-style-type: none;
    display: flex;
}
.navigation nav ul li a {
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    color: white;
    stroke: 2px solid black;
}
.welcome {
    position: absolute;
    margin-left: 12%;
}
.welcome h1 {
    margin-top: 60%;
    background-color: brown;
    padding: 10px;
    color: white;
    background-color: rgba(165, 42, 42, 0.8); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.welcome p {
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8); 
    margin-right: 35%;
}
img {
    width: 100%;
}
#dashboard, #upload, #viewgames {
    padding: 100px;
}